In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("tripadvisor_hotel_reviews.csv")
print(data.shape)
data.head()

(20491, 2)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
data["Rating"] = data["Rating"].map({1:0, 2:0, 3:1, 4:2, 5:2})
data["Rating"].value_counts()

2    15093
0     3214
1     2184
Name: Rating, dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [5]:
import re
def text_cleaning(Review):
    text = Review.lower()
    url_find = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', text)
    if url_find:
        text = re.sub("".join(url_find), " ", text)
    alpha_text = re.sub("[^a-z]+", " ", text)
    clean_text = re.sub(r"\s+", " ", alpha_text)
    return clean_text

In [6]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

sw = stopwords.words('english')
ps = PorterStemmer()

def text_processing(clean_text):
    tok_text = word_tokenize(clean_text)
    filter_text = [text for text in tok_text if text not in sw]
    stem_text = [ps.stem(text) for text in filter_text]
    return " ".join(stem_text)

In [7]:
data['Review'] = data['Review'].apply(lambda x:text_cleaning(x))
data['Review'] = data['Review'].apply(lambda x:text_processing(x))

In [8]:
data

                                                  Review  Rating
0      nice hotel expens park got good deal stay hote...       2
1      ok noth special charg diamond member hilton de...       0
2      nice room experi hotel monaco seattl good hote...       1
3      uniqu great stay wonder time hotel monaco loca...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time stay charm star ca n ...       2
20487  great locat price view hotel great quick place...       2
20488  ok look nice modern outsid desk staff n partic...       0
20489  hotel theft ruin vacat hotel open sept guest w...       0
20490  peopl talk ca n believ excel rate hotel n ye p...       0

[20491 rows x 2 columns]